 * {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

p {
    color:green;
}

.yellow {
    color:yellow;
}

h1 {
    color:red;
}

.blue {
    color: dodgerblue;
}

#red {
    color:red;
}

.btn {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.btn-red {
    background-color: red;
    border: 3px solid darkred;
}

.btn-red:hover {
    background-color: darkred;
    border: 3px solid red;
}

.btn-blue {
    background-color: blue;
    border: 3px solid dodgerblue;
}

.btn-blue:hover {
    background-color: dodgerblue;
    border: 3px solid blue;
}

nav ul li {
    display: inline-block;
    
}
nav ul li a {
    display: inline-block;
}


nav ul {
    padding: 0;
}

form {
    border: 2px dashed grey;
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
